flask
flask-sqlalchemy
flask-migrate
flask-wtf
python-dotenv
flask-login
flask-session
redis
gunicorn
gevent
mako>=1.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability